@inject LocService SharedLocalizer
@using Auth.Resources
@model Auth.Models.AccountViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("RESET_PASSWORD");
}

<div class="content-wrapper">
    <div class="content custom-scrollbar">
        <div id="forgot-password" class="p-8">
            <div class="form-wrapper md-elevation-8 p-8">
                <div class="logo bg-secondary">
                    <span>M</span>
                </div>
                <div class="title mt-4 mb-8">@ViewData["Title"]</div>
                <div class="description pt-2">
                    @SharedLocalizer.GetLocalizedHtmlString("RESET_YOUR_PASSWORD")
                </div>
                <form name="resetPasswordForm" asp-controller="Account" asp-action="ResetPassword" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group mb-4">
                        <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp" placeholder=" " required />
                        <label asp-for="Email">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <input asp-for="Password" type="password" class="form-control" required />
                        <label asp-for="Password">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-4">
                        <input asp-for="ConfirmPassword" type="password" class="form-control" required />
                        <label asp-for="ConfirmPassword">@SharedLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto" aria-label="RESET MY PASSWORD">
                        @SharedLocalizer.GetLocalizedHtmlString("RESET")
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

@*<h2>@ViewData["Title"]</h2>
<form asp-controller="Account" asp-action="ResetPassword" method="post" class="form-horizontal">
    <h4>@SharedLocalizer.GetLocalizedHtmlString("RESET_YOUR_PASSWORD")</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="Code" type="hidden" />
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label">@SharedLocalizer.GetLocalizedHtmlString("CONFIRM_PASSWORD")</label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">@SharedLocalizer.GetLocalizedHtmlString("RESET")</button>
        </div>
    </div>
</form>*@
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
